// ------------------------------------------------------------
// Specific sizes
// Size icons and images
// ------------------------------------------------------------

.ico {
	margin-bottom: $internal-spacing;	
}

.ico--160 {
	width: 160px;
	height: 120px;
}