// ------------------------------------------------------------
// Ratios
// Common sizes for images, set as backgrounds
// ------------------------------------------------------------

.ratio-2-3 {
	width: 100%;
	height: 0;
	padding-bottom: (3%/2%*100%);
}

.ratio-4-3 {
	width: 100%;
	height: 0;
	padding-bottom: (3%/4%*100%);
}

.ratio-9-8 {
	width: 100%;
	height: 0;
	padding-bottom: (9%/16%*200%);
}

.ratio-16-9 {
	width: 100%;
	height: 0;
	padding-bottom: (9%/16%*100%);
}

.ratio-square {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}