// ::Imports
// ------------------------------------------------------------
@import "sassaparilla/sassaparilla";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Fira+Mono);

/* ::Base styles */
/* ------------------------------------------------------------ */

body {
	font-family: 'Roboto', sans-serif;
	background: $body-color;
	color: $base-color;
	font-weight: 400;
}

// General type control
// ------------------------------------------------------------

.type-light {
	font-weight: 300;
}


/* ::Import styles */
// Must be after globals for correct cascade
/* ------------------------------------------------------------ */
@import "demo/*";
